.outer-container {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    padding: 5px;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    gap: 10px;
}

.box {

    border: 2px solid black;
}

#box-1 {
    order: 2;
    flex-grow: 1;
}

#box-2 {
    order: 1;
    flex-grow: 2;
}